<h2>{{title}}</h2>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ui-view="sidenav"></div>
</md-sidenav>
<md-content flex layout-fill layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="open menu" ng-click="main.toggleSidenav()">
                <i class="fa fa-bars"></i>
            </md-button>
            <h2 flex>
                <span>Toolbar</span>
            </h2>
        </div>
    </md-toolbar>
    <div ui-view="content" flex layout-fill layout-padding></div>
</md-content>
<div ui-sref="home"></div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-success" ng-click="openSplash()">Open splash</button>
    </div>
</div>
