<section layout-align="left" class="dynamic-tabs" flex>
    <md-content class="md-padding">
        <div>
            <b>Resource URI:</b> <a href="http://ff-news.ontotext.com/resource?uri={{detailsCtrl.entityUri}}">http://ff-news.ontotext.com/resource?uri={{detailsCtrl.entityUri}}</a>
        </div>
        <md-tabs md-selected="detailsCtrl.selectedTabIndex"
                 md-align-tabs="bottom"
                 md-stretch-tabs="always">
            <md-tab label="News Mentioning Entity">
                <yasr
                        ng-if="detailsCtrl.selectedTabIndex == 0"
                        yasr-data="detailsCtrl.yasrNonRelData"
                        yasr-post-process="detailsCtrl.redirectNewsToNOW()"></yasr>
            </md-tab>
            <md-tab label="News Mentioning Related Entities">
                <yasr
                        ng-if="detailsCtrl.selectedTabIndex == 1"
                        yasr-data="detailsCtrl.yasrRelData"
                        yasr-post-process="detailsCtrl.redirectNewsToNOW()"></yasr>
            </md-tab>
        </md-tabs>
    </md-content>
</section>
