<section>
    <div layout-align="right">
        <div pageslide
             ps-class="viz-options-side-panel"
             ps-open="nmCtrl.isVizOptionsSidePanelOpen"
             ps-side="bottom">
            <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
                <md-content layout="row" layout-padding="">

                    <div flex="20">
                        <md-menu>
                            <md-button aria-label="Open demo menu" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <ng-md-icon icon="local_offer"></ng-md-icon>
                            </md-button>
                            Categories
                            <md-menu-content width="3">
                                <md-button ng-repeat="item in nmCtrl.categories">
                                    {{item}}
                                </md-button>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div flex="20">
                        <md-datepicker ng-model="nmCtrl.currentDate" md-placeholder="Enter date"></md-datepicker>
                    </div>

                    <div flex="20">
                        <md-checkbox ng-model="nmCtrl.relativePopularity" aria-label="Checkbox 1">
                            Relative Popularity
                        </md-checkbox>
                    </div>

                    <div flex="20">
                        <md-button class="md-raised md-primary">
                            Show
                        </md-button>
                    </div>

                </md-content>
            </section>
        </div>
    </div>
    <div layout-align="left" class="dynamic-tabs" flex>
        <md-content class="md-padding">
            <!--<md-tabs md-selected="nmCtrl.selectedIndex" md-border-bottom="" md-autoselect="">-->
            <md-tabs md-selected="nmCtrl.selectedIndex">
                <md-tab ng-repeat="tab in nmCtrl.tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <div ng-bind="tab.content"></div>
                        <div word-cloud></div>
                        <br>
                        <!--<main>-->
                        <!--<nav resizable r-directions="['right']">-->
                        <!--<span class="icon-big icon_expand-1"></span>-->
                        <!--<br /><br />-->
                        <!--<h1>-->
                        <!--Angular-->
                        <!--Resizable-->
                        <!--</h1>-->
                        <!--<p>-->
                        <!--A teensy weensy directive for creating resizable containers.-->
                        <!--</p>-->
                        <!--</nav>-->
                        <!--<div class="content">-->
                        <!--<div class="row" resizable r-directions="['bottom']" r-flex="true">-->
                        <!--<section id="one" resizable r-directions="['right']" r-flex="true">-->
                        <!--<p>Works with flexbox.</p>-->
                        <!--</section>-->
                        <!--<section id="two">-->
                        <!--<p>2</p>-->
                        <!--</section>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                        <!--<section id="three" resizable r-directions="['right']" r-flex="true">-->
                        <!--<p>Completely seperates <strong>layout logic</strong> from <strong>resize logic</strong>. All layout logic must be done by you in the CSS (as it should be).</p>-->
                        <!--</section>-->
                        <!--<section id="four">4</section>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</main>-->
                        <!--<md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">-->
                        <!--Remove Tab-->
                        <!--</md-button>-->
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>
