<section layout-align="left" class="dynamic-tabs" flex>
    <md-content class="md-padding">
        <md-tabs md-selected="mapCtrl.selectedTabIndex"
                 md-align-tabs="bottom"
                 md-stretch-tabs="always">
            <md-tab label="Most Popular">
                <div onto-loader size="100" ng-show="!mapCtrl.wordCloudPopular"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 0"
                        word-data="mapCtrl.wordCloudPopular"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Most Popular + Hidden">
                <div style="display: block; margin: auto;" onto-loader size="100" ng-show="!mapCtrl.wordCloudPopularAndHidden"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 1"
                        word-data="mapCtrl.wordCloudPopularAndHidden"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Hidden Champions">
                <div class="ot-loader" onto-loader size="100" ng-show="!mapCtrl.wordCloudHidden"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 2"
                        word-data="mapCtrl.wordCloudHidden"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Geo Heat Map">
                <div onto-loader size="100" ng-show="!mapCtrl.geoHeatMap"></div>
                <geo-heat-map
                        ng-if="mapCtrl.selectedTabIndex == 3"
                        geo-data="mapCtrl.geoHeatMap"></geo-heat-map>
            </md-tab>
        </md-tabs>

        <md-button class="md-fab md-fab-top-right" aria-label="Add" ng-click="mapCtrl.showSearchCriteriaDialog($event)">
            <ng-md-icon class="floating-btn" icon="add"></ng-md-icon>
        </md-button>

        <!--<md-fab-toolbar-->
                <!--md-open="mapCtrl.diagramOptions.isOpen"-->
                <!--count="mapCtrl.diagramOptions.count"-->
                <!--md-direction="right">-->
            <!--<md-fab-trigger class="align-with-text">-->
                <!--<md-button aria-label="menu"-->
                           <!--class="md-fab md-fab-top-right md-primary">-->
                    <!--<ng-md-icon icon="menu"></ng-md-icon>-->
                <!--</md-button>-->
            <!--</md-fab-trigger>-->
            <!--<md-toolbar>-->
                <!--<md-fab-actions class="md-toolbar-tools">-->
                    <!--<md-button aria-label="comment" class="md-icon-button">-->
                        <!--<ng-md-icon icon="backup"></ng-md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="label" class="md-icon-button">-->
                        <!--<ng-md-icon icon="local_offer"></ng-md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="photo" class="md-icon-button">-->
                        <!--<ng-md-icon icon="backup"></ng-md-icon>-->
                    <!--</md-button>-->
                <!--</md-fab-actions>-->
            <!--</md-toolbar>-->
        <!--</md-fab-toolbar>-->
    </md-content>
</section>
