<section layout-align="left" class="news-map-tabs" flex>
    <md-content class="md-padding">
        <md-tabs md-selected="mapCtrl.selectedTabIndex"
                 md-align-tabs="bottom"
                 md-stretch-tabs="always">
            <md-tab label="Most Popular">
                <div class="ot-loader" onto-loader size="100" ng-show="!mapCtrl.wordCloudPopular"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 0"
                        word-data="mapCtrl.wordCloudPopular"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Most Popular + Hidden">
                <div class="ot-loader" onto-loader size="100" ng-show="!mapCtrl.wordCloudPopularAndHidden"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 1"
                        word-data="mapCtrl.wordCloudPopularAndHidden"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Hidden Champions">
                <div class="ot-loader" onto-loader size="100" ng-show="!mapCtrl.wordCloudHidden"></div>
                <word-cloud
                        ng-if="mapCtrl.selectedTabIndex == 2"
                        word-data="mapCtrl.wordCloudHidden"
                        word-search-params="mapCtrl.searchParams"></word-cloud>
            </md-tab>
            <md-tab label="Geo Heat Map">
                <div class="ot-loader" onto-loader size="100" ng-show="!mapCtrl.geoHeatMap"></div>

                <geo-heat-map
                        ng-if="mapCtrl.selectedTabIndex == 3"
                        geo-data="mapCtrl.geoHeatMap"
                        geo-country="mapCtrl.selectedCountry"></geo-heat-map>

                <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-4dp"
                        md-component-id="geo-heat-map-side-panel"
                        md-is-open="mapCtrl.showGeoHeatMapSidePanel"
                        md-disable-backdrop>
                    <md-content class="geo-heat-map-side-panel-content">
                        <ng-md-icon class="close-icon"
                                    ng-click="mapCtrl.showGeoHeatMapSidePanel = false"
                                    icon="close"></ng-md-icon>
                        <section flex>
                            <h2>{{mapCtrl.selectedCountry.properties.name}}</h2>
                            <h4 ng-show="mapCtrl.selectedCountry.newsCount">{{mapCtrl.selectedCountry.newsCount}} news articles</h4>
                        </section>
                        <!--<h2>{{mapCtrl.selectedCountry.properties.name}}</h2>-->

                        <section flex>
                            <form ng-submit="$event.preventDefault()">
                                <!--<md-input-container>-->
                                <!--<md-select ng-model="mapCtrl.selectedCategory" aria-label="Pick news category">-->
                                <!--<md-option ng-value="$index" ng-repeat="category in mapCtrl.categories">{{category}}</md-option>-->
                                <!--</md-select>-->
                                <!--</md-input-container>-->
                                <md-autocomplete
                                        md-selected-item="mapCtrl.selectedItem"
                                        md-search-text="mapCtrl.selectedCategory"
                                        md-items="item in mapCtrl.querySearch(mapCtrl.selectedCategory, mapCtrl.categories)"
                                        md-item-text="item.display"
                                        md-min-length="0"
                                        md-autoselect="true"
                                        placeholder="Pick news category"
                                        ng-model="mapCtrl.selectedCategory">
                                    <md-item-template>
                                        <span md-highlight-text="mapCtrl.selectedCategory" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No categories matching {{item.display}} were found
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </section>
                        <section layout-align="left" class="news-scroll" flex>
                            <md-virtual-repeat-container id="vertical-container" md-top-index="mapCtrl.topIndex">
                                <div md-virtual-repeat="newsItem in mapCtrl.newsMentioningCountry"
                                     class="repeated-item"
                                     ng-class="{ header: newsItem.category }"
                                     flex>
                                    <a href="{{newsItem.url}}">{{newsItem.title}}</a>
                                </div>
                            </md-virtual-repeat-container>
                        </section>
                    </md-content>
                </md-sidenav>
            </md-tab>
        </md-tabs>

        <md-button class="md-fab md-fab-top-right" aria-label="Add" ng-click="mapCtrl.showSearchCriteriaDialog($event)">
            <ng-md-icon class="floating-btn" icon="add"></ng-md-icon>
        </md-button>

        <!--<md-fab-toolbar-->
                <!--md-open="mapCtrl.diagramOptions.isOpen"-->
                <!--count="mapCtrl.diagramOptions.count"-->
                <!--md-direction="right">-->
            <!--<md-fab-trigger class="align-with-text">-->
                <!--<md-button aria-label="menu"-->
                           <!--class="md-fab md-fab-top-right md-primary">-->
                    <!--<ng-md-icon icon="menu"></ng-md-icon>-->
                <!--</md-button>-->
            <!--</md-fab-trigger>-->
            <!--<md-toolbar>-->
                <!--<md-fab-actions class="md-toolbar-tools">-->
                    <!--<md-button aria-label="comment" class="md-icon-button">-->
                        <!--<ng-md-icon icon="backup"></ng-md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="label" class="md-icon-button">-->
                        <!--<ng-md-icon icon="local_offer"></ng-md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="photo" class="md-icon-button">-->
                        <!--<ng-md-icon icon="backup"></ng-md-icon>-->
                    <!--</md-button>-->
                <!--</md-fab-actions>-->
            <!--</md-toolbar>-->
        <!--</md-fab-toolbar>-->
    </md-content>
</section>

