.news-scroll .wrapper {
    width: 100%;
    max-width: 400px;
}

.news-scroll #vertical-container {
    height: 40vh;
    width: 100%;
    max-width: 400px;
 }

.news-scroll #vertical-container .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px;
}

.news-scroll #vertical-container .repeated-item.header {
    color: white;
    text-align: center;
    font-weight: bold;
 }

.news-scroll #vertical-container md-content {
    margin: 16px;
}

.news-scroll md-virtual-repeat-container {
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.16);
}

.news-scroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div:not(.header) {
    padding-left: 16px;
}

#.news-scroll div[md-virtual-repeat]:nth-child(even) {
#    background-color: #f8f7f7;
#}
